<style>
.wrapper {
    overflow-x: hidden;
}
.container-box {
    max-width: 1620px;
    margin:  0 auto;
}
img {
    max-width: 100%;
}
.template-wrapper p {
    font-size: 16px;
}
.template-wrapper {
    padding: 20px 35px;
}
.template-banner {
    background-color: #14061D;
    border-radius: 30px;
    padding: 40px 20px;
}
.template-banner-content {
    padding-right: 200px;
}
.template-banner-content h5 {
    color: white;
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 300;
}
.template-banner-content h2 {
    color: white;
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
}
.template-banner-img {
    display: flex;
    justify-content: end;
    align-items: center;
}
.section-wrapper {
    padding: 80px 0px;
}
.section-heading {
    margin-bottom: 60px;
}
.section-heading h1 {
    color: #14061D;
    font-size: 80px;
    font-weight: bold;
}
.section-heading h6 {
    margin-bottom: 0;
    color: #726E74;
    font-size: 30px;
    font-weight: 500;
}
.template-boxes {
    padding: 80px 0px 0px;
}
.template-boxes .boxes-height {
    margin-bottom: 120px;
}
.template-boxes-content {
    position: relative;
    box-shadow: 0px 3px 20px #14061D0D;
    border: 1px solid #EEEEF0;
    border-radius: 20px;
    text-align: center;
    padding: 100px 20px 40px;
    height: 100%;
}
.template-boxes-content:hover {
    background-color: #86C3E5;
}
.template-boxes-content:hover h4, .template-boxes-content:hover p {
    color: white;
}
.template-boxes-content-img {
    position: absolute;
    border-radius: 50%;
    width: 137px;
    height: 137px;
    background-color: white;
    border: 1px solid #EEEEF0;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
    padding: 3px;
}
.template-boxes-content-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.template-boxes-content h4 {
    color: #15161D;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}
.template-boxes-content p {
    line-height: 24px;
    color: #15161D;
    margin-bottom: 0;
}
.template-info {
    padding-bottom: 80px;
}
.template-info-content {
    padding-right: 116px;
}
.template-info.template-last-info .template-info-content {
    padding-right: 0;
    padding-left: 116px;
}
.template-info-content h3 {
    color: #14061D;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
}
.template-info-content p {
    color: #15161D;
    line-height: 26px;
    margin-bottom: 0;
}
.template-info-img {
    box-shadow: 0px 3px 48px #00000017;
    border-radius: 18px;
    height: 368px;
}
.template-info-img img {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    object-fit: cover;
}
.template-info-video {
    box-shadow: 0px 3px 48px #00000017;
    border-radius: 18px;
    height: 368px;
}
.template-info-video iframe, .template-info-video span {
    border-radius: 18px;
    height: 100%;
    width: 100%;
}
.template-form-content {
    max-width: 536px;
}
.template-form-content-img {
    box-shadow: 0px 3px 48px #00000017;
    border-radius: 18px;
    height: 366px;
}
.template-form-content-img img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}
.template-form-wrapper form .form-control {
    background-color: #F0F3F5;
    border: 1px solid #EEEEF0;
    border-radius: 10px;
    box-shadow: unset;
    outline: none;
    color: #677076;
    padding: 30px 25px;
}
.template-form-wrapper form textarea {
    resize: none;
}
.btn-blue {
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #14061D;
    border-radius: 11px;
    box-shadow: unset;
    padding: 16px 36px;
    transition: all ease-in-out 0.6s;
    border: none;
}
.btn-blue:hover {
    background-color: #531977;
}
@media (max-width: 1700px) {
    .container-box {
        max-width: 1320px;
    }
    .template-banner {
        padding: 40px 20px;
    }
    .template-banner-content h2 {
        font-size: 60px;
        line-height: 68px;
    }
    .section-wrapper {
        padding: 50px 0px;
    }
    .section-heading h1 {
        font-size: 68px;
    }
    .template-form-wrapper {
        padding: 30px 0px;
    }
}
@media (max-width: 1400px) {
    .section-wrapper {
        padding: 30px 0px;
    }
    .container-box {
        max-width: 1140px;
    }
    .template-banner-content h2 {
        font-size: 52px;
        line-height: 60px;
    }
    .section-heading {
        margin-bottom: 30px;
    }
    .section-heading h1 {
        font-size: 60px;
    }
    .section-heading h6 {
        font-size: 26px;
    }
    .template-boxes .boxes-height {
        margin-bottom: 90px;
    }
    .template-boxes-content {
        padding: 80px 20px 30px;
    }
    .template-boxes-content-img {
        width: 110px;
        height: 110px;
        top: -56px;
    }
    .template-info {
        padding-bottom: 60px;
        margin-top: -30px;
    }
    .template-info.template-last-info {
        margin-top: 0;
    }
    .template-info-content h3 {
        font-size: 38px;
        margin-bottom: 22px;
    }
}
@media (max-width: 1199px) {
    .container-box {
        max-width: 960px;
    }
    .template-banner-content {
        padding-right: 60px;
    }
    .template-banner-content h2 {
        font-size: 46px;
        line-height: 50px;
    }
    .section-heading h1 {
        font-size: 52px;
    }
    .section-heading h6 {
        font-size: 22px;
    }
    .template-info-content {
        padding-right: 70px;
    }
    .template-info.template-last-info .template-info-content {
        padding-left: 60px;
    }
    .template-form-wrapper {
        padding: 10px 0px 20px;
    }
}
@media (max-width: 991px) {
    .container-box {
        max-width: 720px;
    }
    .template-banner {
        text-align: center;
    }
    .template-banner-content {
        padding-right: 0;
        margin-bottom: 40px;
    }
    .template-banner-img {
        justify-content: center;
    }
    .section-heading {
        margin-bottom: 20px;
        text-align: center;
    }
    .section-heading h1 {
        font-size: 48px;
    }
    .template-banner-content h2 {
        font-size: 42px;
    }
    .template-info-content {
        padding-right: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .template-info-img {
        margin-bottom: 30px;
    }
    .template-info.template-last-info .template-info-content {
        padding-left: 0;
        margin-bottom: 0;
    }
    .template-info.template-last-info {
        margin-top: 0;
        padding-bottom: 0px;
    }
    .template-form-content {
        max-width: 100%;
        margin-bottom: 40px;
    }
}
@media (max-width: 767px) {
    .container-box {
        max-width: 540px;
    }
    .template-banner-content h2 {
        font-size: 35px;
    }
    .section-heading h1 {
        font-size: 44px;
    }
    .section-heading h6 {
        font-size: 21px;
    }
    .template-boxes {
        padding: 70px 0px 0px;
    }
    .template-form-wrapper {
        padding: 30px 0px 0px;
    }
}
@media (max-width: 575px) {
    .container-box {
        max-width: 100%;
        padding: 0px 15px;
    }
    .template-wrapper {
    padding: 20px 15px;
    }
    .template-banner-content h2 {
        font-size: 33px;
        line-height: 38px;
    }
    .template-banner-content h5 {
        font-size: 26px;
        margin-bottom: 8px;
    }
    .section-heading h1 {
        font-size: 36px;
    }
    .template-info {
        margin-top: -50px;
    }
}
</style>

<div class="template-wrapper">
  <div class="template-banner">
    <div class="container-box">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6">
          <div class="template-banner-content">
            <h5>ALL-IN-ONE</h5>
            <h2>TRUE CYBER PROTECTION</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="template-banner-img">
            <img
              src="https://skin-canvas.arhamsoft.org//static/media/about-us-banner.564cd2ab.png"
              alt="banner-img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="container-box">
      <div class="section-heading">
        <h1>Lorem ipsum</h1>
        <h6>Lorem ipsum dolor sit amet</h6>
      </div>
      <div class="template-boxes">
        <div class="row">
          <div class="col-xl-3 col-lg-4 boxes-height">
            <div class="template-boxes-content">
              <div class="template-boxes-content-img">
                <img
                  src="https://skin-canvas.arhamsoft.org//images/circle-image.png"
                  alt="box-img"
                />
              </div>
              <h4>Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 boxes-height">
            <div class="template-boxes-content">
              <div class="template-boxes-content-img">
                <img
                  src="https://skin-canvas.arhamsoft.org//images/circle-image.png"
                  alt="box-img"
                />
              </div>
              <h4>Kerop Kosle</h4>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 boxes-height">
            <div class="template-boxes-content">
              <div class="template-boxes-content-img">
                <img
                  src="https://skin-canvas.arhamsoft.org//images/circle-image.png"
                  alt="box-img"
                />
              </div>
              <h4>Lofsak Oprkaooo</h4>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 boxes-height">
            <div class="template-boxes-content">
              <div class="template-boxes-content-img">
                <img
                  src="https://skin-canvas.arhamsoft.org//images/circle-image.png"
                  alt="box-img"
                />
              </div>
              <h4>Massive Lakdoo</h4>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 boxes-height">
            <div class="template-boxes-content">
              <div class="template-boxes-content-img">
                <img
                  src="https://skin-canvas.arhamsoft.org//images/circle-image.png"
                  alt="box-img"
                />
              </div>
              <h4>Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 boxes-height">
            <div class="template-boxes-content">
              <div class="template-boxes-content-img">
                <img
                  src="https://skin-canvas.arhamsoft.org//images/circle-image.png"
                  alt="box-img"
                />
              </div>
              <h4>Kerop Kosle</h4>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 boxes-height">
            <div class="template-boxes-content">
              <div class="template-boxes-content-img">
                <img
                  src="https://skin-canvas.arhamsoft.org//images/circle-image.png"
                  alt="box-img"
                />
              </div>
              <h4>Lofsak Oprkaooo</h4>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 boxes-height">
            <div class="template-boxes-content">
              <div class="template-boxes-content-img">
                <img
                  src="https://skin-canvas.arhamsoft.org//images/circle-image.png"
                  alt="box-img"
                />
              </div>
              <h4>Massive Lakdoo</h4>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="template-info">
        <div class="row d-flex align-items-center">
          <div class="col-lg-7">
            <div class="template-info-content">
              <h3>Lorem ipsum</h3>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                est Lorem ipsum dolor sit amet. <br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo
              </p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="template-info-video">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/B-ytMSuwbf8"
                title="YouTube video player"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="template-info template-last-info">
        <div class="row d-flex align-items-center">
          <div class="col-lg-5">
            <div class="template-info-img">
              <img
                src="https://skin-canvas.arhamsoft.org//images/circle-image.png"
                alt="template-info-img"
              />
            </div>
          </div>
          <div class="col-lg-7">
            <div class="template-info-content">
              <h3>Lorem ipsum</h3>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                est Lorem ipsum dolor sit amet. <br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="template-form-wrapper">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6">
            <div class="template-form-content">
              <div class="section-heading">
                <h1>Lorem ipsum</h1>
                <h6>Lorem ipsum dolor sit amet</h6>
              </div>
              <div class="template-form-content-img">
                <img
                  src="https://skin-canvas.arhamsoft.org//images/circle-image.png"
                  alt="form-img"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <form>
              <div class="mb-3 input-wrapper">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Lorem ipsum"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3 input-wrapper">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Lorem ipsum"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3 input-wrapper">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Lorem ipsum"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-4 input-wrapper">
                <textarea
                  class="form-control"
                  placeholder="Lorem ipsum"
                  id="floatingTextarea2"
                  rows="5"
                ></textarea>
              </div>
              <button type="submit" class="btn-blue">Lorem</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
